.nav {
    grid-area: nav;
    background: rgba(45, 45, 42, 0.73);
}
.item {
    color: white;
    text-decoration: none;

}
.active {
    color: white;
    text-shadow: 2px 6px 2px #0a0202;
    text-decoration: none;
}
.item_holder {
    padding: 6px;
}