.content-wrapper {
    display: grid;
    margin: 0 auto;
    max-width: 1200px;
    grid-template-areas:
  'header header'
  'nav profile';
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10fr;
    font-family: 'Mochiy Pop P One', sans-serif;
}
.profile {
    grid-area: profile;
    background: #36393f;
    color: #ffffff;
}