.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogs_items {
    padding: 10px;
}

.dialog {
    text-decoration: none;
    color: white;
    padding: 15px;
}
.message {
    padding: 15px;
}
.messages {
    padding: 10px;
}
.active {
    text-shadow: 2px 6px 2px #d5d5d5;
    color: black;
    text-decoration: none;
}

